In [1]:
import pandas as pd
import kagglehub
import os

# Download dataset
#path = kagglehub.dataset_download("elemento/nyc-yellow-taxi-trip-data")

# Build file path (inside downloaded dataset folder)
#file_path = os.path.join(path, "yellow_tripdata_2015-01.csv")

# Load only this file
df = pd.read_csv("nyc_sample_200k.csv")

# Take 200k random samples
sample = df.sample(n=200_000, random_state=42)

# Save result
sample.to_csv("nyc_sample_200k.csv", index=False)

print("Sample saved to nyc_sample_200k.csv")

Sample saved to nyc_sample_200k.csv

In [2]:
df.info() #data information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               200000 non-null  int64
 1   tpep_pickup_datetime   200000 non-null  object
 2   tpep_dropoff_datetime  200000 non-null  object
 3   passenger_count        200000 non-null  int64
 4   trip_distance          200000 non-null  float64
 5   pickup_longitude       200000 non-null  float64
 6   pickup_latitude        200000 non-null  float64
 7   RateCodeID             200000 non-null  int64
 8   store_and_fwd_flag     200000 non-null  object
 9   dropoff_longitude      200000 non-null  float64
 10  dropoff_latitude       200000 non-null  float64
 11  payment_type           200000 non-null  int64
 12  fare_amount            200000 non-null  float64
 13  extra                  200000 non-null  float64
 14  mta_tax                200000 non-null  float64
 15  tip_amount             200000 non-null  float64
 16  tolls_amount           200000 non-null  float64
 17  improvement_surcharge  200000 non-null  float64
 18  total_amount           200000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 29.0+ MB

In [3]:
df.head() #print first 5 rows

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 12:58:40,2015-01-15 13:02:39,1,0.70,-74.004639,40.723591,1,Y,-74.006744,40.730721,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95
1,1,2015-01-02 18:19:47,2015-01-02 18:33:39,1,0.70,-73.985016,40.758900,1,N,-73.989914,40.757198,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55
2,2,2015-01-17 15:33:55,2015-01-17 15:51:16,1,3.74,-73.985222,40.747734,1,N,-73.991264,40.714031,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40
3,1,2015-01-25 04:15:10,2015-01-25 04:24:52,1,2.10,-73.982239,40.776863,1,N,-73.955780,40.779663,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30
4,2,2015-01-10 13:11:46,2015-01-10 13:25:35,1,1.96,-73.992722,40.746876,1,N,-73.980286,40.728642,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30

In [4]:
df.tail() #print last 5 rows

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
199995,2,2015-01-15 11:57:02,2015-01-15 12:05:30,2,0.81,-74.008415,40.711308,1,N,-74.003296,40.719135,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80
199996,2,2015-01-18 18:56:54,2015-01-18 19:05:19,5,2.05,-73.950478,40.779572,1,N,-73.969063,40.753632,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00
199997,1,2015-01-24 02:17:41,2015-01-24 02:21:46,1,0.50,-74.004288,40.730251,1,N,-73.996834,40.732571,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95
199998,2,2015-01-11 00:37:58,2015-01-11 00:54:04,1,3.50,-74.002594,40.733986,1,N,-73.978546,40.776463,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
199999,2,2015-01-25 12:55:45,2015-01-25 13:04:49,1,1.46,-73.988861,40.736889,1,N,-73.973457,40.748249,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80

In [5]:
df=df[(df["fare_amount"] > 2.50) & (df["fare_amount"]<200)]

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 12:58:40,2015-01-15 13:02:39,1,0.70,-74.004639,40.723591,1,Y,-74.006744,40.730721,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95
1,1,2015-01-02 18:19:47,2015-01-02 18:33:39,1,0.70,-73.985016,40.758900,1,N,-73.989914,40.757198,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55
2,2,2015-01-17 15:33:55,2015-01-17 15:51:16,1,3.74,-73.985222,40.747734,1,N,-73.991264,40.714031,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40
3,1,2015-01-25 04:15:10,2015-01-25 04:24:52,1,2.10,-73.982239,40.776863,1,N,-73.955780,40.779663,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30
4,2,2015-01-10 13:11:46,2015-01-10 13:25:35,1,1.96,-73.992722,40.746876,1,N,-73.980286,40.728642,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2015-01-15 11:57:02,2015-01-15 12:05:30,2,0.81,-74.008415,40.711308,1,N,-74.003296,40.719135,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80
199996,2,2015-01-18 18:56:54,2015-01-18 19:05:19,5,2.05,-73.950478,40.779572,1,N,-73.969063,40.753632,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00
199997,1,2015-01-24 02:17:41,2015-01-24 02:21:46,1,0.50,-74.004288,40.730251,1,N,-73.996834,40.732571,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95
199998,2,2015-01-11 00:37:58,2015-01-11 00:54:04,1,3.50,-74.002594,40.733986,1,N,-73.978546,40.776463,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
199999,2,2015-01-25 12:55:45,2015-01-25 13:04:49,1,1.46,-73.988861,40.736889,1,N,-73.973457,40.748249,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80

In [7]:
df=df.dropna()#drop rows with NaN values(only few rows so better to drop rather than filling)

In [8]:
#convert object to datetime64 format
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [9]:
print(df["tpep_pickup_datetime"].dtype)
print(df["tpep_dropoff_datetime"].dtype)

datetime64[ns]
datetime64[ns]

In [10]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 12:58:40,2015-01-15 13:02:39,1,0.70,-74.004639,40.723591,1,Y,-74.006744,40.730721,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95
1,1,2015-01-02 18:19:47,2015-01-02 18:33:39,1,0.70,-73.985016,40.758900,1,N,-73.989914,40.757198,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55
2,2,2015-01-17 15:33:55,2015-01-17 15:51:16,1,3.74,-73.985222,40.747734,1,N,-73.991264,40.714031,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40
3,1,2015-01-25 04:15:10,2015-01-25 04:24:52,1,2.10,-73.982239,40.776863,1,N,-73.955780,40.779663,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30
4,2,2015-01-10 13:11:46,2015-01-10 13:25:35,1,1.96,-73.992722,40.746876,1,N,-73.980286,40.728642,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2015-01-15 11:57:02,2015-01-15 12:05:30,2,0.81,-74.008415,40.711308,1,N,-74.003296,40.719135,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80
199996,2,2015-01-18 18:56:54,2015-01-18 19:05:19,5,2.05,-73.950478,40.779572,1,N,-73.969063,40.753632,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00
199997,1,2015-01-24 02:17:41,2015-01-24 02:21:46,1,0.50,-74.004288,40.730251,1,N,-73.996834,40.732571,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95
199998,2,2015-01-11 00:37:58,2015-01-11 00:54:04,1,3.50,-74.002594,40.733986,1,N,-73.978546,40.776463,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
199999,2,2015-01-25 12:55:45,2015-01-25 13:04:49,1,1.46,-73.988861,40.736889,1,N,-73.973457,40.748249,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80

In [11]:
df = df[
    (df['pickup_latitude'] > 40) & (df['pickup_latitude'] < 42) &
    (df['dropoff_latitude'] > 40) & (df['dropoff_latitude'] < 42) &
    (df['pickup_longitude'] < -72) & (df['pickup_longitude'] > -76) &
    (df['dropoff_longitude'] < -72) & (df['dropoff_longitude'] > -76)
]

In [12]:
print(df[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude']].describe())

       pickup_latitude  pickup_longitude  dropoff_latitude  dropoff_longitude
count    195090.000000     195090.000000     195090.000000      195090.000000
mean         40.751013        -73.974874         40.751744         -73.974378
std           0.027076          0.035739          0.030999           0.033807
min          40.115902        -74.349434         40.115902         -74.417953
25%          40.737038        -73.991997         40.735840         -73.991417
50%          40.753799        -73.981979         40.754234         -73.980324
75%          40.767849        -73.968086         40.769138         -73.963921
max          41.146709        -72.449425         41.158218         -72.449425

In [13]:
from sklearn.cluster import KMeans
import numpy as np

# Prepare coordinates arrays
pickup_coords = df[['pickup_latitude', 'pickup_longitude']].to_numpy(dtype=np.float64)
dropoff_coords = df[['dropoff_latitude', 'dropoff_longitude']].to_numpy(dtype=np.float64)

# Combine them for clustering
all_coords = np.vstack((pickup_coords, dropoff_coords))

# Cluster (choose number of clusters, e.g. 50)
n_clusters = 50
kmeans = KMeans(n_clusters=n_clusters, random_state=42, n_init='auto')
kmeans.fit(all_coords)

# Predict clusters separately for pickup and dropoff
df['pickup_zone'] = kmeans.predict(pickup_coords)
df['dropoff_zone'] = kmeans.predict(dropoff_coords)

print(df[['pickup_zone', 'dropoff_zone']].head())

C:\Users\abhir\AppData\Local\Programs\Python\Python312\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\abhir\AppData\Local\Programs\Python\Python312\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Users\abhir\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\abhir\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Users\abhir\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

   pickup_zone  dropoff_zone
0           29            15
1            0             0
2           24            41
3           38             3
4           22             5

C:\Users\abhir\AppData\Local\Temp\ipykernel_15044\3104871666.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pickup_zone'] = kmeans.predict(pickup_coords)
C:\Users\abhir\AppData\Local\Temp\ipykernel_15044\3104871666.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dropoff_zone'] = kmeans.predict(dropoff_coords)

In [17]:
df=df.drop(["pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude"],axis=1)

In [19]:
df["trip_time"] = df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"]

In [21]:
df["trip_time_str"] = df["trip_time"].apply(lambda x: str(x).split(' ')[-1])

In [23]:
df=df.drop(["tpep_pickup_datetime","tpep_dropoff_datetime","trip_time"],axis=1)

In [24]:
df

,VendorID,passenger_count,trip_distance,RateCodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_zone,dropoff_zone,trip_time_str
0,1,1,0.70,1,Y,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95,29,15,00:03:59
1,1,1,0.70,1,N,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55,0,0,00:13:52
2,2,1,3.74,1,N,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40,24,41,00:17:21
3,1,1,2.10,1,N,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30,38,3,00:09:42
4,2,1,1.96,1,N,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30,22,5,00:13:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2,0.81,1,N,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80,2,29,00:08:28
199996,2,5,2.05,1,N,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00,3,7,00:08:25
199997,1,1,0.50,1,N,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,15,15,00:04:05
199998,2,1,3.50,1,N,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,15,38,00:16:06
199999,2,1,1.46,1,N,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,9,48,00:09:04

In [26]:
df.rename(columns={"trip_time_str": "trip_time"}, inplace=True)

In [27]:
df

,VendorID,passenger_count,trip_distance,RateCodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_zone,dropoff_zone,trip_time
0,1,1,0.70,1,Y,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95,29,15,00:03:59
1,1,1,0.70,1,N,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55,0,0,00:13:52
2,2,1,3.74,1,N,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40,24,41,00:17:21
3,1,1,2.10,1,N,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30,38,3,00:09:42
4,2,1,1.96,1,N,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30,22,5,00:13:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2,0.81,1,N,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80,2,29,00:08:28
199996,2,5,2.05,1,N,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00,3,7,00:08:25
199997,1,1,0.50,1,N,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,15,15,00:04:05
199998,2,1,3.50,1,N,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,15,38,00:16:06
199999,2,1,1.46,1,N,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,9,48,00:09:04

In [28]:
df["trip_time_seconds"] = pd.to_timedelta(df["trip_time"]).dt.total_seconds()

In [29]:
df

,VendorID,passenger_count,trip_distance,RateCodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_zone,dropoff_zone,trip_time,trip_time_seconds
0,1,1,0.70,1,Y,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95,29,15,00:03:59,239.0
1,1,1,0.70,1,N,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55,0,0,00:13:52,832.0
2,2,1,3.74,1,N,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40,24,41,00:17:21,1041.0
3,1,1,2.10,1,N,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30,38,3,00:09:42,582.0
4,2,1,1.96,1,N,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30,22,5,00:13:49,829.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2,0.81,1,N,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80,2,29,00:08:28,508.0
199996,2,5,2.05,1,N,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00,3,7,00:08:25,505.0
199997,1,1,0.50,1,N,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,15,15,00:04:05,245.0
199998,2,1,3.50,1,N,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,15,38,00:16:06,966.0
199999,2,1,1.46,1,N,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,9,48,00:09:04,544.0

In [30]:
df.drop(["trip_time"],axis=1,inplace=True)

In [31]:
df

,VendorID,passenger_count,trip_distance,RateCodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_zone,dropoff_zone,trip_time_seconds
0,1,1,0.70,1,Y,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95,29,15,239.0
1,1,1,0.70,1,N,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55,0,0,832.0
2,2,1,3.74,1,N,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40,24,41,1041.0
3,1,1,2.10,1,N,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30,38,3,582.0
4,2,1,1.96,1,N,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30,22,5,829.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2,0.81,1,N,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80,2,29,508.0
199996,2,5,2.05,1,N,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00,3,7,505.0
199997,1,1,0.50,1,N,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,15,15,245.0
199998,2,1,3.50,1,N,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,15,38,966.0
199999,2,1,1.46,1,N,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,9,48,544.0

In [33]:
len(df)

195090

In [38]:
df=pd.get_dummies(df,columns=["store_and_fwd_flag"])

In [39]:
df

,VendorID,passenger_count,trip_distance,RateCodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_zone,dropoff_zone,trip_time_seconds,store_and_fwd_flag_N,store_and_fwd_flag_Y
0,1,1,0.70,1,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95,29,15,239.0,False,True
1,1,1,0.70,1,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55,0,0,832.0,True,False
2,2,1,3.74,1,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40,24,41,1041.0,True,False
3,1,1,2.10,1,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30,38,3,582.0,True,False
4,2,1,1.96,1,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30,22,5,829.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2,0.81,1,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80,2,29,508.0,True,False
199996,2,5,2.05,1,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00,3,7,505.0,True,False
199997,1,1,0.50,1,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,15,15,245.0,True,False
199998,2,1,3.50,1,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,15,38,966.0,True,False
199999,2,1,1.46,1,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,9,48,544.0,True,False

In [50]:
df["toll_used"] = (df["tolls_amount"] > 0).astype(int)
df

,VendorID,passenger_count,trip_distance,RateCodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_zone,dropoff_zone,trip_time_seconds,store_and_fwd_flag_N,store_and_fwd_flag_Y,toll_used
0,1,1,0.70,1,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95,29,15,239.0,False,True,0
1,1,1,0.70,1,1,9.5,1.0,0.5,2.25,0.0,0.0,13.55,0,0,832.0,True,False,0
2,2,1,3.74,1,1,15.5,0.0,0.5,3.10,0.0,0.3,19.40,24,41,1041.0,True,False,0
3,1,1,2.10,1,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30,38,3,582.0,True,False,0
4,2,1,1.96,1,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30,22,5,829.0,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2,0.81,1,1,7.0,0.0,0.5,0.00,0.0,0.3,7.80,2,29,508.0,True,False,0
199996,2,5,2.05,1,1,8.5,0.0,0.5,1.70,0.0,0.3,11.00,3,7,505.0,True,False,0
199997,1,1,0.50,1,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,15,15,245.0,True,False,0
199998,2,1,3.50,1,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,15,38,966.0,True,False,0
199999,2,1,1.46,1,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,9,48,544.0,True,False,0

In [51]:
X=df.drop(["fare_amount","tip_amount","extra","mta_tax","total_amount","improvement_surcharge"],axis=1)

In [52]:
X

,VendorID,passenger_count,trip_distance,RateCodeID,payment_type,tolls_amount,pickup_zone,dropoff_zone,trip_time_seconds,store_and_fwd_flag_N,store_and_fwd_flag_Y,toll_used
0,1,1,0.70,1,1,0.0,29,15,239.0,False,True,0
1,1,1,0.70,1,1,0.0,0,0,832.0,True,False,0
2,2,1,3.74,1,1,0.0,24,41,1041.0,True,False,0
3,1,1,2.10,1,2,0.0,38,3,582.0,True,False,0
4,2,1,1.96,1,1,0.0,22,5,829.0,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2,0.81,1,1,0.0,2,29,508.0,True,False,0
199996,2,5,2.05,1,1,0.0,3,7,505.0,True,False,0
199997,1,1,0.50,1,1,0.0,15,15,245.0,True,False,0
199998,2,1,3.50,1,2,0.0,15,38,966.0,True,False,0
199999,2,1,1.46,1,2,0.0,9,48,544.0,True,False,0

In [53]:
y=df["total_amount"]

In [54]:
y

0          6.95
1         13.55
2         19.40
3         11.30
4         12.30
          ...
199995     7.80
199996    11.00
199997     6.95
199998    15.30
199999     8.80
Name: total_amount, Length: 195090, dtype: float64

In [137]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=42
)

print(len(X_train), len(y_train))
print(len(X_test), len(y_test))

175581 175581
19509 19509

In [138]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [139]:
model.fit(X_train,y_train)

LinearRegression()

In [140]:
y_pred=model.predict(X_test)

In [141]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)
mse

63.13605358513631

In [142]:
rmse=np.sqrt(mse)
rmse

7.945819881241728

In [144]:
from sklearn import set_config
set_config(display="text")   # show plain text repr instead of HTML diagram

xgb_model = xgb.XGBRegressor(objective='reg:squarederror',
                             n_estimators=1000, learning_rate=0.05,
                             max_depth=5, random_state=42)
xgb_model.fit(X_train, y_train)  # should run cleanly now

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.05, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=5, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=1000, n_jobs=None,
             num_parallel_tree=None, random_state=42, ...)

In [145]:
predictions = xgb_model.predict(X_test)
xgb_rmse = np.sqrt(mean_squared_error(y_test, predictions))
print(f"XGBoost RMSE: {xgb_rmse}")

XGBoost RMSE: 2.1582956399697384

no